.homeBack{
    background: linear-gradient(90deg, #eb722c  8%, #c107b1e3  89%);
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}